<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Sharing Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/lib/jquery-3.4.0.min.js"></script>
    <script src="/utilities/ajax.js"></script>
    
</head>

<body>
    <header>
        <div id="title-logo"><a href="/">Image Sharing App</a></div>
        
        <% if (session) { %>
            <div id="log-reg-cont">
                    <div id="login-cont">
                        <form class ="form-cont" method="POST" action="/logout" novalidate>
                            <div class="form-field">
                                <div class="input">
                                    <label for="email">You are logged in as <span><%= session %></span></label>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn" type="submit">Logout</button>
                            </div>
                        </form>
                    </div>

        <% } else { %>
            <div id="log-reg-cont">
                <div id="login-cont">
                    <form class ="form-cont" method="POST" action="/login" novalidate>
                        <div class="form-field">
                            <div class="input">
                                <label for="email">User </label>
                                <input name="usernameLogin" type="text" value="" />
                            </div>
                            <div class="input">
                                <label for="email">Password </label>
                                <input name="passwordLogin" type="password" value="" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" type="submit">Login</button>
                        </div>
                    </form>
                </div>
    
                <div id="register-cont">
                    / <a href="/registration">Register</a>
                </div>
            </div>
        <% } %>

    </header>